<mat-card class="login-page">
    <mat-card-title>User Profile</mat-card-title>
    <mat-card-content>
    <form
        class="login-form data-form"
    >
        <mat-form-field>
            <input
                matInput
                type="text"
                name="firstName"
                placeholder={{firstName}}
                disabled
            />
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="text"
                name="lastName"
                placeholder="{{lastName}}"
                disabled
            />
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="number"
                name="age"
                placeholder={{age}}
                disabled
            />
        </mat-form-field>

        <mat-form-field>
        <input
            matInput
            type="email"
            name="email"
            placeholder={{email}}
            disabled
        />
        </mat-form-field>

        <mat-form-field>
        <input
            matInput
            type="password"
            name="password"
            placeholder={{password}}
            disabled
        />
        </mat-form-field>

    </form>
    </mat-card-content>
</mat-card>