<mat-card class="login-page">
    <mat-card-title>Job Profile</mat-card-title>
    <mat-card-content>
    <form
        class="login-form data-form"
    >
        <mat-form-field>
            <input
                matInput
                type="text"
                name="companyName"
                placeholder="{{companyName}}"
                disabled
            />
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="text"
                name="positionName"
                placeholder="{{positionName}}"
                disabled
            />
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="number"
                name="salary"
                placeholder={{salary}}
                disabled
            />
        </mat-form-field>

        <mat-form-field>
        <input
            matInput
            type="text"
            name="cityAddress"
            placeholder={{cityAddress}}
            disabled
        />
        </mat-form-field>

        <mat-form-field>
        <input
            matInput
            type="number"
            name="contactNumber"
            placeholder={{contactNumber}}
            disabled
        />
        </mat-form-field>

    </form>
    </mat-card-content>
</mat-card>
